*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;

}

body{
    display: flex;
    height: 80vh;
  align-items: center;
  justify-content: center;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 120px;
    height: auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #EE1C47;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}
.navmenu-main{  
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all .42s ease;
  border: 1px solid black;
  margin-right: 10px;

}
.navmenu-main:hover{
  color: red;
  background-color: black;
  transition: 1s;
}

/* login */

.wrapper{
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px;
    
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
  }
  .wrapper header{
    font-size: 35px;
    font-weight: 600;
    
  }
  .wrapper form{
    margin: 40px 0;
  }
  form .field{
    width: 100%;
    margin-bottom: 20px;
  }
  form .field.shake{
    animation: shake 0.3s ease-in-out;
  }
  
  form .field .input-area{
    height: 50px;
    width: 100%;
    position: relative;
  }
  form input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
  }
  form .field input:focus,
  form .field.valid input{
    border-color: #5372F0;
  }
  
  .field .input-area i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
  }
  .input-area .icon{
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
  }
  .input-area .error-icon{
    right: 15px;
    color: #dc3545;
  }
  form input:focus ~ .icon,
  form .field.valid .icon{
    color: #5372F0;
  }
  
  form input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
  }
  
  
  form .pass-txt{
    text-align: left;
    margin-top: -10px;
  }
  .wrapper a{
    color: #5372F0;
    text-decoration: none;
  }
  .wrapper a:hover{
    text-decoration: underline;
  }
  form input[type="submit"]{
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5372F0;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
  form input[type="submit"]:hover{
    background: #2c52ed;
  }



  /* responsive css */

  @media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}